*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-family: 'inter', sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.6rem;
  background-color: $wild-sand;
  color: $black-rock;
}

img {
  max-width: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}