.posts-v1 {
  margin-bottom: 60px;

  @media (min-width: $media-tab-sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .title-h1 {
    margin-bottom: 12px;

    @media (min-width: $media-tab-sm) {
      width: 100%;
      margin-bottom: 18px;
    }
  }

  .post-v1 {
    @media (min-width: $media-tab-sm) {
      width: calc(50% - 6px);
      margin-bottom: 12px;
    }
    
    @media (min-width: $media-des-sm) {
      width: calc(33.33% - 6px);
    }
  }

  .post-v1 + .post-v1 {
    margin-top: 12px;

    @media (min-width: $media-tab-sm) {
      margin-top: 0;
    }
  }

  .btn-v3 {
    margin-top: 22px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.posts-v2 {
  margin-bottom: 60px;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $media-tab-lg) {
    padding-left: 0;
    padding-right: 0;
  }

  .post-v2 + .post-v2 {
    margin-top: 12px;
  }

  .btn-v3 {
    margin-top: 22px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.posts-slider {
  margin-bottom: 50px;

  @media (min-width: $media-tab-sm) {
    margin-bottom: 64px;
  }

  .title-h1 {
    margin-bottom: 18px;
  }

  .post-v1__img {
    height: 220px;
    max-height: 220px;

    @media (min-width: $media-tab-sm) {
      height: 205px;
      max-height: 205px;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    &-prev,
    &-next {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid transparent;
      transition: background-color .2s, transform .2s;

      @media (any-hover: hover) {
        &:hover {
          background-color: #fff;
          box-shadow: 0 2px 12px 0 rgba(26, 27, 56, 0.09);
        }
      }

      &:focus-visible {
        border: 1px solid $black-rock;
      }

      &:active {
        transform: translateY(2px);
      }

      &.swiper-button-disabled {
        pointer-events: none;
        opacity: 0;
      }
    }

    &-next {
      margin-left: 16px;
    }
  }
}